/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

#site-header #header-left a img {
  width: 215px;
}

html body header#site-header {
  margin-bottom: 0px;
}


h1 {
  color: #008583;
  text-transform: none;
  border: none;
  font-size: 45px;
}

.dashboard-drupal-block h2 {
  background-color: #008583;
  border-radius: 10px 10px 0px 0px;
  padding: .7rem 1.5rem;
  font-size: 18px;
}

.dashboard-drupal-block>.views-element-container>div:not(.contextual) {
  padding: 1rem 1.5rem 1rem 2.5rem;
}

div#block-dashboard-views-block-latest-active-trainings-block .views-row:after {
  background-color: #008583;
}

div#block-dashboard-views-block-latest-active-trainings-block .view-content ul li a:after, div#block-dashboard-views-block-opigno-group-members-block-pending .view-content ul li a:after, div#block-dashboard-views-block-opigno-notifications-block-unread-dashboard .view-content ul li a:after, div#block-dashboard-views-block-private-message-block-dashboard .view-content ul li a:after {
  background-color: #008583;
}

.view-opigno-score-modules .view-content ul {
  padding-left: 0px;
}

.view-opigno-score-modules .view-content ul li:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #008583;
  -webkit-transition: width .2s;
  transition: width .2s;
  z-index: -1;
}

.view-opigno-score-modules .view-content ul li:hover {
  text-decoration: none;
  color: #fff;
}

.view-opigno-score-modules .view-content ul li:hover:after {
  width: 100%;
}

.view-opigno-score-modules .view-content ul li {
  background-color: #fff;
  position: relative;
  z-index: 0;
  display: block;
  padding: 0;
}

.view-opigno-score-modules .view-content ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: .75rem 6rem .75rem 2rem;
  position: relative;
  z-index: 1;
}

.calendar-month-table tbody tr td.single-day-active .inner, .view-id-opigno_calendar table tbody tr td.single-day-active .inner, .view-opigno-calendar .calendar-calendar .month-view table tbody tr td.single-day-active .inner, div#block-dashboard-views-block-opigno-calendar-month-block table tbody tr td.single-day-active .inner,
.dashboard-drupal-block .view-footer a.see-more:hover {
  background-color: #008583;
}

.region.region-menu {
  background-color: #FFF;
  border-bottom: 6px solid #f8f7f5;
}

nav#mobile-menu ul:not(.contextual-links), nav.block-system_menu_block-main ul:not(.contextual-links) {
  margin-bottom: -5px;
  
}

nav.block-system_menu_block-main li a {
  background-size: 50px !important;
  padding: 3.5rem 3rem !important;
  background-repeat: no-repeat;
  display: block !important;
  font-size: 1.2rem !important;
  text-transform: uppercase;
  color: #000 !important;
  font-weight: 600;
}

nav.block-system_menu_block-main li a:hover {
  color: #008583 !important;
  border-bottom: 3px solid #008583 !important;
}

nav.block-system_menu_block-main li a.messages {
  background-image: url(../img/message_icon.png) !important;
}

nav.block-system_menu_block-main li a.messages:hover {
  background-image: url(../img/message_icon_hover.png) !important;
}


nav.block-system_menu_block-main li a.courses {
  background-image: url(../img/courses_icon.png);
  background-position: top;
  background-size: 40px !important;
}

nav.block-system_menu_block-main li a.courses:hover {
  background-image: url(../img/courses_icon_hover.png) !important;
}


nav.block-system_menu_block-main li a.home {
  background-image: url(../img/home.png) !important;
}

nav.block-system_menu_block-main li a.home:hover {
  background-image: url(../img/home_hover.png) !important;
}

nav.block-system_menu_block-main li a.achievements {
  background-image: url(../img/award_icon.png) !important;
}

nav.block-system_menu_block-main li a.achievements:hover {
  background-image: url(../img/award_icon_hover.png) !important;
}


nav.block-system_menu_block-main li a.profile {
  background-image: url(../img/profile_icon.png) !important;
  background-position: top;
  background-size: 40px !important;
}

nav.block-system_menu_block-main li a.profile:hover {
  background-image: url(../img/profile_icon_hover.png) !important;
}


app-root.dashboard button.manage-dashboard {
  background-color: #008583 !important;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

app-root.dashboard button.manage-dashboard:hover {
  background-color: #008583 !important;
}

#main-content {
  position: relative;
}

.sidebar-block h2 {
  background-color: #008583;
  color: #FFF;
  border-radius: 10px 10px 0px 0px;
  font-size: 1.3rem;
  padding: 10px 20px;
}

.sidebar-block {
  background-color: #f0f0f0;
  margin-bottom: 30px;

}

.sidebar-block form {
  padding: 10px 20px;
}

.sidebar-block input[type=checkbox], .sidebar-block input[type=radio] {
  background: #FFFFFF;
  border: 1px solid #008583;
}

.sidebar-block input[type=radio]:checked, .sidebar-block input[type=checkbox]:checked {
  background: #008583;
  border: 1px solid #008583;
}

body.page-catalogue div#main-content .sidebar-block fieldset legend {
  padding: 0px;
  background: none !important;
  color: #008583 !important;
  font-weight: 500 !important;
  padding-left: 0px !important;
}

.sidebar-block .fieldset-wrapper {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.sidebar-block .fieldset-wrapper label {
  color: #000 !important;
  margin: 0px !important;
  padding: 0px !important;
  background: #f0f0f0 !important;
}

.course_row {
  clear: both;
  overflow: auto;
  border-top: 8px solid #008583;
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 25px 10px 0px 25px;
  min-height: 150px;
}

.course_row2 {
  margin-bottom: 25px;
  background-color: #f0f0f0;
  padding: 0px 10px 25px;
}

.course_row2 .col-md-6:first-child {
  padding-top: 18px;
  padding-left: 40px;
}

.course_row .left {
  width: 25%;
  float: left;
  text-align: center;
}

.course_row .right strong {
  color: #008583;
  font-weight: 600;
}

.course_row .left img {
  margin: auto;
  width: 80%;
  border-radius: 5px;
}

.course_row .right {
  width: 75%;
  float: left;
}

.calendar-month-table tbody tr td.date-box.today, .view-id-opigno_calendar table tbody tr td.date-box.today, .view-opigno-calendar .calendar-calendar .month-view table tbody tr td.date-box.today, div#block-dashboard-views-block-opigno-calendar-month-block table tbody tr td.date-box.today {
  background-color: #008583;
}

.calendar-month-table tbody tr td .inner div.day, .calendar-month-table tbody tr td .inner div.day a, .view-id-opigno_calendar table tbody tr td .inner div.day, .view-id-opigno_calendar table tbody tr td .inner div.day a, .view-opigno-calendar .calendar-calendar .month-view table tbody tr td .inner div.day, .view-opigno-calendar .calendar-calendar .month-view table tbody tr td .inner div.day a, div#block-dashboard-views-block-opigno-calendar-month-block table tbody tr td .inner div.day, div#block-dashboard-views-block-opigno-calendar-month-block table tbody tr td .inner div.day a {
  font-size: 18px;
}

div#block-dashboard-views-block-opigno-calendar-month-block h3 {
  color: #008583;
  border-bottom: 1px solid #008583;
  font-weight: 600;
}

.course-button a {
  background-color: #008583;
  color: #FFF;
  text-align: center;
  padding: 12px 20px;
  height: 48px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.view-recommended-for-you .views-field-field-learning-path-media-image div {
  text-align: center;
}

.view-recommended-for-you .views-field-field-learning-path-media-image div img {
  width: 90%;
  margin: auto;
}

.view-recommended-for-you .views-field-label {
  font-weight: 600;
  padding: 25px;
}

.view-recommended-for-you .views-field-field-learning-path-description {
  padding: 25px;
}

