/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

#site-header #header-left a img {
  width: 215px;
}

html body header#site-header {
  margin-bottom: 0px;
}

h1 {
  color: #008583;
  text-transform: none;
  border: none;
  font-size: 45px;
}

.dashboard-drupal-block h2 {
  background-color: #008583;
  border-radius: 10px 10px 0px 0px;
  padding: .7rem 1.5rem;
  font-size: 18px;
}

.anonymous-slider #page-branding {
  background: url(../img/ETS.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 13%;
  width: 57%;
  height: 75px;
}

body.anonymous-slider div#main div#page-branding a img {
  width: 210px;
}

body.anonymous-slider div#main div#main-content .anonymous-slider .slider-item .slider-markup {
  color: #008583;
  text-align: center;
  margin-top: 450px;
  width: 100%;
  left: inherit;
  text-shadow: none;
}

body.anonymous-slider div#main div#main-content .anonymous-slider .slider-item {
  background-position: 50% -75px;
}

body.anonymous-slider div#main #user-sidebar h1 {
  color: #008583;
}

.btn-success, .bg-success, .view-private-message .new-message, #private-message-add-form #edit-actions input,
#private-message-add-form #edit-actions input:hover, .lp_progress_admin_continue,
body.lp-iframe input[type=checkbox]:checked,
body.lp-iframe input[type=checkbox]:disabled:checked,
body.lp-iframe input[type=radio]:checked,
body.lp-iframe input[type=radio]:disabled:checked,
input[type=checkbox]:checked,
input[type=checkbox]:disabled:checked,
input[type=radio]:checked,
input[type=radio]:disabled:checked, body.admin-learning-path mat-button-toggle.add-link,
body.admin-learning-path mat-button-toggle.guided-navigation,
#site-header #header-right .dropdown .btn-group.operations .dropdown-menu>a.primary:hover,
#site-header #header-right .dropdown .dropdown-menu a.dropdown-item.primary:hover,
.btn-group.operations #site-header #header-right .dropdown .dropdown-menu>a.primary:hover,
a.bg-success:focus, a.bg-success:hover,
button.bg-success:focus, button.bg-success:hover {
  background-color: #94D6E2 !important;
  border-color: #94D6E2;
}

.dashboard-drupal-block>.views-element-container>div:not(.contextual) {
  padding: 1rem 1.5rem 1rem 2.5rem;
}

div#block-dashboard-views-block-latest-active-trainings-block .views-row:after {
  background-color: #008583;
}

div#block-dashboard-views-block-latest-active-trainings-block .view-content ul li a:after, div#block-dashboard-views-block-opigno-group-members-block-pending .view-content ul li a:after, div#block-dashboard-views-block-opigno-notifications-block-unread-dashboard .view-content ul li a:after, div#block-dashboard-views-block-private-message-block-dashboard .view-content ul li a:after {
  background-color: #008583;
}

body.anonymous-slider div#main #user-sidebar form.user-login-form .form-actions .form-submit,
body.anonymous-slider div#main #user-sidebar form.user-pass .form-actions .form-submit,
body.anonymous-slider div#main #user-sidebar form.user-register-form .form-actions .form-submit {
  background-color: #008583 !important;
  color: #FFF;
  font-style: normal;
}

body.anonymous-slider div#main #user-sidebar form.user-login-form .form-actions .form-submit:hover,
body.anonymous-slider div#main #user-sidebar form.user-pass .form-actions .form-submit:hover,
body.anonymous-slider div#main #user-sidebar form.user-register-form .form-actions .form-submit:hover {
  box-shadow: none;
}

.view-opigno-score-modules .view-content ul {
  padding-left: 0px;
}

.view-opigno-score-modules .view-content ul li:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #008583;
  -webkit-transition: width .2s;
  transition: width .2s;
  z-index: -1;
}

.view-opigno-score-modules .view-content ul li:hover {
  text-decoration: none;
  color: #fff;
}

.view-opigno-score-modules .view-content ul li:hover:after {
  width: 100%;
}

.view-opigno-score-modules .view-content ul li {
  background-color: #fff;
  position: relative;
  z-index: 0;
  display: block;
  padding: 0;
}

.view-opigno-score-modules .view-content ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: .75rem 6rem .75rem 2rem;
  position: relative;
  z-index: 1;
}

.calendar-month-table tbody tr td.single-day-active .inner, .view-id-opigno_calendar table tbody tr td.single-day-active .inner, .view-opigno-calendar .calendar-calendar .month-view table tbody tr td.single-day-active .inner, div#block-dashboard-views-block-opigno-calendar-month-block table tbody tr td.single-day-active .inner,
.dashboard-drupal-block .view-footer a.see-more:hover {
  background-color: #008583;
}

.region.region-menu {
  background-color: #FFF;
  border-bottom: 6px solid #f8f7f5;
}

nav#mobile-menu ul:not(.contextual-links), nav.block-system_menu_block-main ul:not(.contextual-links) {
  margin-bottom: -5px;
  
}

nav.block-system_menu_block-main li a {
  background-size: 50px !important;
  padding: 3.5rem 2.8rem !important;
  background-repeat: no-repeat;
  display: block !important;
  font-size: 1.2rem !important;
  text-transform: uppercase;
  color: #000 !important;
  font-weight: 600;
}

nav.block-system_menu_block-main li a:hover {
  color: #008583 !important;
  border-bottom: 3px solid #008583 !important;
}

nav.block-system_menu_block-main li a.messages {
  background-image: url(../img/message_icon.png) !important;
}

nav.block-system_menu_block-main li a.messages:hover {
  background-image: url(../img/message_icon_hover.png) !important;
}


nav.block-system_menu_block-main li a.courses {
  background-image: url(../img/courses_icon.png);
  background-position: top;
  background-size: 40px !important;
}

nav.block-system_menu_block-main li a.courses:hover {
  background-image: url(../img/courses_icon_hover.png) !important;
}


nav.block-system_menu_block-main li a.home {
  background-image: url(../img/home.png) !important;
}

nav.block-system_menu_block-main li a.home:hover {
  background-image: url(../img/home_hover.png) !important;
}

nav.block-system_menu_block-main li a.achievements {
  background-image: url(../img/award_icon.png) !important;
}

nav.block-system_menu_block-main li a.achievements:hover {
  background-image: url(../img/award_icon_hover.png) !important;
}

nav.block-system_menu_block-main li a.statistics {
  background-image: url(../img/dashboard.png) !important;
  background-position: top;
  text-align: center;
}

nav.block-system_menu_block-main li a.statistics:hover {
  background-image: url(../img/dashboard_hover.png) !important;
}

nav.block-system_menu_block-main li a.profile {
  background-image: url(../img/profile_icon.png) !important;
  background-position: top;
  background-size: 40px !important;
}

nav.block-system_menu_block-main li a.profile:hover {
  background-image: url(../img/profile_icon_hover.png) !important;
}

nav#mobile-menu ul:not(.contextual-links) li a.is-active,
nav#mobile-menu ul:not(.contextual-links) li a:hover,
nav.block-system_menu_block-main ul:not(.contextual-links) li a.is-active,
nav.block-system_menu_block-main ul:not(.contextual-links) li a:hover {
  border-bottom-color: #008583;
}


app-root.dashboard button.manage-dashboard {
  background-color: #008583 !important;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

app-root.dashboard button.manage-dashboard:hover {
  background-color: #008583 !important;
}

#main-content {
  position: relative;
}

.sidebar-block h2 {
  background-color: #008583;
  color: #FFF;
  border-radius: 10px 10px 0px 0px;
  font-size: 1.3rem;
  padding: 10px 20px;
}

.sidebar-block {
  background-color: #f0f0f0;
  margin-bottom: 30px;
  border-radius: 5px;
}

.sidebar-block form {
  padding: 10px 20px;
}

.sidebar-block input[type=checkbox], .sidebar-block input[type=radio] {
  background: #FFFFFF;
  border: 1px solid #008583;
}

.sidebar-block input[type=radio]:checked, .sidebar-block input[type=checkbox]:checked {
  background: #008583;
  border: 1px solid #008583;
}

body.page-catalogue div#main-content .sidebar-block fieldset legend {
  padding: 0px;
  background: none !important;
  color: #008583 !important;
  font-weight: 500 !important;
  padding-left: 0px !important;
}

.sidebar-block .fieldset-wrapper {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.sidebar-block .fieldset-wrapper label {
  color: #000 !important;
  margin: 0px !important;
  padding: 0px !important;
  background: #f0f0f0 !important;
}

.course_row {
  clear: both;
  overflow: auto;
  border-top: 8px solid #008583;
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 25px 10px 0px 25px;
  min-height: 150px;
}

.course_row2 {
  margin-bottom: 25px;
  background-color: #f0f0f0;
  padding: 0px 10px 25px;
}

.course_row2 .col-md-6:first-child {
  padding-top: 18px;
  padding-left: 40px;
}

.course_row .left {
  width: 25%;
  float: left;
  text-align: center;
}

.course_row .right strong {
  color: #008583;
  font-weight: 600;
}

.course_row .left img {
  margin: auto;
  width: 80%;
  border-radius: 5px;
}

.course_row .right {
  width: 75%;
  float: left;
}

.calendar-month-table tbody tr td.date-box.today, .view-id-opigno_calendar table tbody tr td.date-box.today, .view-opigno-calendar .calendar-calendar .month-view table tbody tr td.date-box.today, div#block-dashboard-views-block-opigno-calendar-month-block table tbody tr td.date-box.today {
  background-color: #008583;
}

.calendar-month-table tbody tr td .inner div.day, .calendar-month-table tbody tr td .inner div.day a, .view-id-opigno_calendar table tbody tr td .inner div.day, .view-id-opigno_calendar table tbody tr td .inner div.day a, .view-opigno-calendar .calendar-calendar .month-view table tbody tr td .inner div.day, .view-opigno-calendar .calendar-calendar .month-view table tbody tr td .inner div.day a, div#block-dashboard-views-block-opigno-calendar-month-block table tbody tr td .inner div.day, div#block-dashboard-views-block-opigno-calendar-month-block table tbody tr td .inner div.day a {
  font-size: 18px;
}

div#block-dashboard-views-block-opigno-calendar-month-block h3 {
  color: #008583;
  border-bottom: 1px solid #008583;
  font-weight: 600;
}

.course-button a {
  background-color: #008583;
  color: #FFF;
  text-align: center;
  padding: 12px 20px;
  height: 48px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.view-recommended-for-you .views-field-field-learning-path-media-image div {
  text-align: center;
}

.view-recommended-for-you .views-field-field-learning-path-media-image div img {
  width: 90%;
  margin: auto;
}

.view-recommended-for-you .views-field-label {
  font-weight: 600;
  padding: 25px 25px 0px 25px
}

.view-recommended-for-you .views-field-field-learning-path-description {
  padding: 5px 25px 0px 25px
}

.statistics-table {
  margin-top: 25px;
}

.statistics-table tbody td .details {
  background-size: 50%;
  width: 30px;
  background-color: #008583;
  border-radius: 15px;
  background-position: 50% 50%;
}

.statistics-table thead th {
  background-color: #008583;
  font-style: normal;
}

table.statistics-table tr th:first-child {
  border-radius: 8px 0 0 0;
}

table.statistics-table tr th:last-child {
  border-radius: 0 8px 0 0;
}

.score-bar {
  margin-top: -15px;
  width: 80%;
  height: 5px;
}

.user-info {
  margin-bottom: 25px;
  padding: 0px;
  max-width: 500px;
}

.user-info-text-wrapper .user-info-name, .user-info-text-wrapper .user-info-email {
  display: none;
}

.user-info-name, .user-info-email {
  margin-bottom: 0px;
  background-color: #008583;
}

.user-info-name {
  border-radius: 5px 5px 0px 0px;
}

.user-info-photo-wrapper {
  padding: 20px;
  margin-right: 3rem;
}

.user-info-text-wrapper {
  padding: 10px;
  background-color: #FFFFFF;
}

/************************ Dashboard page *****************************/
.page-statistics-dashboard h1 {
  position: absolute;
  line-height: 0.8;
}

#statistics-trainings-progress {
  text-align: right;
}

#statistics-trainings-progress .form-item-year select.form-control, #statistics-trainings-progress .form-item-month select.form-control {
  background-color: #008583;
  color: #FFF;
  background-image: linear-gradient(45deg,transparent 50%,#FFF 0),linear-gradient(135deg,#FFF 50%,transparent 0);
  background-position: calc(100% - 25px) calc(1em + -2px),calc(100% - 15px) calc(1em + -2px);
  background-size: 10px 10px;
}

.page-statistics-dashboard .trainings-progress {
  text-align: left;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

.user-metrics {
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

.trainings-progress .value {
  color: #008583;
}

.trainings-progress .indicator path, .users-per-day circle {
  fill: #008583;
}

.users-per-day path {
  stroke: #008583;
}

.user-metrics-content {
  background-color: #f6f6f6;
}

.user-metric, form .popover-help {
  background-color: #008583 !important;
}

form .popover-help .popover {
  border-color: #008583;
}

.user-metric {
  padding: 50px;
}

.user-metric-value {
  font-size: 70px;
  font-weight: 600;
}

.user-metric+.user-metric {
  margin-left: 25px;
}

.user-metric-label {
  font-size: 24px;
  text-transform: uppercase;
}

.opigno-statistics-dashboard-form .trainings-progress .value-indicator-wrapper {
  margin-right: 20px;
}

.trainings-progress .value-wrapper {
  margin-right: 10px;
  width: 130px;
  text-align: center;
}

.trainings-progress .label {
  font-size: 14px;
  font-weight: 600;
}

.user-register-form .form-element-wrapper {
  width: 100% !important;
}

.user-register-form .js-form-type-password {
  width: 100% !important;
  float: none !important;
}

.user-register-form .description {
  display: none;
}

.user-register-form label {
  display: none;
}

body.anonymous-slider div#main #user-sidebar form.user-register-form .form-control {
  border: 0;
  padding: .5rem;
  min-height: 30px;
}

/******* Achievements page *********/
.lp_info {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
}

.lp_info .lp_icon_info {
  right: 0px;
  left: initial;
}

.page-achievements h1 {
  margin-bottom: 0px;
}

.page-achievements .lp_wrapper h2 {
  margin: 0px;
  padding: 20px 30px !important;
  font-size: 20px;
  background-color: #008583;
  color: #FFF;
  border-radius: 5px 5px 0px 0px;
}

.lp_timeline_step_label {
  color: #000;
  width: 150%;
}

.lp_timeline_step_label_title {
  margin-top: 40px;
  font-size: 18px;
}

.lp_timeline_step_label_completed_on {
  display: none;
}

.lp_timeline_info {
  background-color: #555555;
  color: #FFF;
  text-transform: uppercase;
}

.lp_summary_content {
  text-align: center;
}

.lp_summary_content .lp_step_summary_title {
  color: #008583;
  padding-bottom: 15px;
}

.lp_summary_content .lp_step_summary_score {
  font-size: 30px;
  color: #555555;
  font-weight: bold;
}

.justify-content-center {
  font-size: 14px;
}
.lp_summary_certificate_text {
  position: absolute;
  bottom: 85px;
  text-transform: uppercase;
  font-size: 14px;
}

.lp_summary_certificate_icon {
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: 75%;
}

.lp_step_title_wrapper {
  background-color: #90c5c5;
  color: #000;
  border-radius: 5px 5px 5px 5px;
}

.lp_step_title_wrapper.open {
  background: #008583;
  color: #FFF;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #FFF;
}

.lp_step_summary_wrapper {
  background-color: #008583 !important;
  color: #FFF;
}

.lp_step_summary .lp_step_summary_title {
  position: absolute;
  bottom: 25px;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 100px;
  color: #000;
}

.lp_step_summary .lp_summary_step_state_passed {
  margin-left: 100px !important;
  height: 65px;
  background-repeat: no-repeat;
}

.lp_step_summary .pull-left .h4 {
  color: #FFF;
  font-size: 50px;
}

.lp_step_summary .pull-left div:nth-child(2) {
  margin-top: 20px;
  color: #000;
  font-weight: 600;
}

.lp_step_summary_completion_chart, .lp_step_summary_approved_chart {
  display: none;
}

.lp_step_summary .justify-content-center {
  font-weight: 600;
  font-size: 16px;
  justify-content: inherit !important;
}

.lp_step_summary .justify-content-center .text-italic {
  color: #000;
}

.lp_step_summary .justify-content-center .h5 {
  color: #FFF;
}

.lp_step_summary .justify-content-center div {
  margin-left: 5rem !important;
  text-align: center;
}

.lp_step_summary_clickable {
  padding: 8px;
  margin: 0px;
  text-align: right;
  background-position: right;
  padding-right: 22px;
  background-size: 15px;
  margin-right: 10px;
  font-weight: normal;
  text-transform: capitalize;
  font-style: italic;
  background-color: #008583;
}

.lp_details_show:hover, .lp_details_hide:hover, .lp_details_show, .lp_details_hide {
  background-color: #888787;
  color: #FFF;
}

#private-message-page .field-pm-subject .label,
#private-message-page .private-message-recipients .label,
#private-message-page .private-message .owner .username a,
#private-message-page .field-pm-subject .content,
#private-message-page .private-message-recipients .content,
#private-message-page .private-message-recipients .content a {
  color: #212529;
}

.add-button {
  text-align: right;
  margin-bottom: 10px;
}

.views-field-opigno-lp-take-link {
  position: absolute;
  bottom: 10px;
  right: 30px;
  padding: 10px 25px;
  background-color: #008583;
}

.views-field-opigno-lp-take-link a {
  color: #FFF;
}

.view-training-catalogue .catalog-view {
  position: relative;
}

.field--type-text-long .filter-wrapper {
  display: none;
}

@media (max-width: 1199px) {
  nav.block-system_menu_block-main li a {
    padding: 3.5rem 1.6rem !important;
  }
}

@media (max-width: 991px) {
  nav.block-system_menu_block-main li a {
    padding: 3.5rem 0.8rem !important;
    font-size: 1rem !important;
    background-size: 40px !important;
  }

  nav#mobile-menu ul:not(.contextual-links) li a, nav.block-system_menu_block-main ul:not(.contextual-links) li a {
    min-width: 70px;
  }
}

@media (max-width: 767px) {
  nav.block-system_menu_block-main li a {
    padding: 1.5rem 3rem !important;
  }

  .users-per-day-title, .users-per-day {
    width: 100%;
    display: table;
  }

  .user-metric+.user-metric {
    margin-left: 0px;
  }
}